.navbar {

    background-color: #1e293b;

    padding: 15px;

}

.navbar a {

    color: white;

    text-decoration: none;

    margin-right: 20px;

    font-size: 18px;

}

.navbar a:hover {

    color: #38bdf8;

}

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 20px;

}

.nav-links {

    display: flex;

    gap: 25px;

}

.logout-btn {

    background: #dc2626;

    color: white;

    border: none;

    padding: 8px 16px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 15px;

    font-weight: bold;

    transition: 0.3s;

}

.logout-btn:hover {

    background: #b91c1c;

}